<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvoiceOrder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="page" style="font-family: Roboto, sans-serif;">

    <div class="container">

        <div class="row">
            <div class="col-xs-12" >
                <div class="text-center mb-3">
                    <h3 style="color: #000000;">TAX INVOICE
                        <span></span>
                    </h3>
                </div>
            </div>
        </div>

<div class="row">
<div class="col-xs-4">
    <% if (business.business_info.company_logo !== '') { %>
     
   
    <img src= "<%=  business.business_info.company_logo%>" height="150px;" width="150px"alt="">
    <% } %>
    <h4>INVOICE #<%=p.invoice_no %></h4>
    
    <p style="font-size: 13px;"><%= `${business.name} / ${business.contact_no} / ${business.email} ` %></p>
    
<p style="font-size: 13px;"><%= business.business_info.company_no %> </p>

<h6 >GSTIN : <%= business.business_info.gstin %>  </h6>
<p style="font-size: 13px;"><%= business.address.location %></p>
</div>

<div class="col-xs-3">

</div>

<div class="col-xs-5">
    <h6>Invoice To: <h6> <%= user.name %> </h6></h6>
    
    <h6><%= user.contact_no %></h6>
    <% if (address) { %>
        <h6><%= address.address %></h6>
        <h6><%= `${address.city} ${address.state} ${address.zip}` %></h6>
    <% } %>
    <% if (user.business_info.gstin !== '') { %>
        <h6>GSTIN : <%= user.business_info.gstin %> </h6>
    <% } %>
    
    

</div>

</div>


    </div>


    <hr style="display: block;
    height: 1px;
    background: transparent;
    width: 100%;
    border: none;
    border-top: solid 1px #aaa;">


<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <h6> Order No : #<%= p.order_no %></h6>
            
        </div>

        <div  class="col-xs-4">
            <h6>Order Date : <%= moment().format('MMM, DD YYYY h:mm A') %></h6>
           
        </div>
        <div class="col-xs-4">
            
        </div>
        
    </div>
</div>


<% var parts = 0 %>


<% var partsArray = [];%>

<% for(var i=0; i < product.length; i++) { %>

    <% partsArray.push({

      part_no: product[i].part_no,
     hsn_sac: product[i].hsn_sac,
     unit: product[i].unit,
    title: product[i].title,
    sku: product[i].sku,
    mrp: product[i].mrp,
    selling_price: product[i].selling_price,
    rate: product[i].rate,
    quantity: product[i].quantity,
    base: product[i].base,
    amount: product[i].amount,
    discount: product[i].discount,
    discount_total: product[i].discount_total,
    amount_is_tax: product[i].amount_is_tax,
    tax_amount: product[i].tax_amount,
    tax: product[i].tax,
    tax_rate: product[i].tax_rate,
    tax_info: product[i].tax_info,


  }) %>

    <% } %>


<br> <br> <br>

    <div class="container">

        <div class="row">
            <div class="col-xs-12">
    
    
                <table class="table-borderless" >
                    <thead class="">
                        
                        <tr>
                            <th>S.No.</th>
                            <th>PARTICULARS OF PARTS</th>
                            <th>HSN/SAC</th>
                            <th>QTY</th>
                            <th>RATE</th>
                            <th>BASE</th>
                            <th>DISCOUNT</th>
                            <th >TAX</th>
                            <th >T/A</th>
                            <!-- <th
                                >
                                DEPRECIATION</th>
                            <th
                                >
                                DEPRECIATION</th> -->
                            <th>AMOUNT</th>
                        </tr>
                    </thead>
                    <tbody class="text-muted">
                       
                       
                        
    
    
    
                           <% for(var i = 0; i<partsArray.length;i++){%>

                           <tr style="color:#000000!important">
                           
                               <td width="4%"><%= i+1 %></td>
                               
                               
                            
                            
                          
                            <td scope="row" width="32%">
                                <%=partsArray[i].part_no %>
                                
                            </td>
                            
                           
                            <td width="12%">
                                <%=partsArray[i].hsn_sac %> 
                               
                            </td>
                          <td width="6%">
                            <%=partsArray[i].quantity %> 
                            
                          </td>  
                        
                        
                            <td width="10%">
                                ₹ <%=partsArray[i].rate %> 
                                   
                                </td>
                            <td width="9%">
                                ₹ <%=partsArray[i].base %> 
                                    
                                
                                </td>
                            <td width="10%" > 
                                ₹ <%=partsArray[i].discount %> 
                                    
                                </td>
                   
                                <td width="10%">
                                <%=partsArray[i].tax %> 
                                
                            </td>
                            <td width="10%">
                                ₹ <%=partsArray[i].tax_amount %> 
                                    
                                </td class= "text-muted">
                            <td  width="10%">
                                ₹ <%=partsArray[i].amount.toFixed() %> 
                                    
                            </td>
                                
                            <% }%>
                            <!-- <td >
                                <span ></span>
                                <span >&nbsp;&nbsp;&nbsp;&nbsp;-</span>
                            </td>
                            <td><img src="http://autroid.com/assets/images/icons/rupee.svg" width="12"
                                    height="12"> </td> -->
                        </tr>
                        
    
                      
                       
                    </tbody>
                    </table>
    
    
            </div>
        </div>
    
    
    </div>

    <br><br> <br>

    <% var partsTaxF = 0; %>
    <% var partsTaxS = 0; %>
    <% var partsTaxT = 0; %>
    <% var itemBase = 0; %>


    <%  for(var i=0; i < partsArray.length;i++) { %>

        <% itemBase += partsArray[i].base ;%>

        <%  if(partsArray[i].tax== '18.0% GST'){%>

           
            <% partsTaxF +=  partsArray[i].tax_amount/2; %>

            <%  } if(partsArray[i].tax=='28.0% GST'){ %>

                <% partsTaxS +=  partsArray[i].tax_amount/2; %>

                
                <% } if(partsArray[i].tax=='5.0% GST'){ %>

                    <% partsTaxT +=  partsArray[i].tax_amount/2;%>
        


                    <% } %>
        
        <% } %>

        <% partsTaxF.toFixed(2)%>
        <% partsTaxS.toFixed(2)%>
        <% partsTaxT.toFixed(2)%>
        <%itemBase .toFixed(1) %>

    <div class="container">

<div class="row">
    
        <div class="col-xs-2">

            <% if (business.business_info.qr_code !== '') { %>
            <img src="<%=  business.business_info.qr_code%>"
                class="img-responsive ml-2" alt="QR Code" width="140px">
                <!-- <span class="text-left ml-4 font-weight-bold font-15" style="color: black; padding-left: 0px;">To Pay Using any
                    UPI enabled app
            
                </span> -->
                <% } %>
        
        </div>
        <div class="col-xs-7">
            <% if (business.business_info.qr_code !== '') { %>
            <p class="" style="padding-left: 10px; font-weight: bold; font-size: 13px;">To Pay Using anyUPI enabled app</p>
            <p class="" style="  font-weight: bold; font-size: 14px;"><%= business.business_info.company_no %></p>
            <p style=" margin-top: -7px;">Bank : <%= business.bank_details[0].bank %></p>
            <p style=" margin-top: -7px;">A/C No : <%=business.bank_details[0].account_no %> </p>
            <p style=" margin-top: -7px;">IFSC : <%= business.bank_details[0].ifsc %></p>
            <% } %>
        
        </div>

     

        <div class="col-xs-3">
            <p style=" font-size: 13px; font-weight: bold;">Item Cost : <%= itemBase.toLocaleString() %>   </p>
            <% if(partsTaxF !== 0) { %>                                   
                                                <p style=" font-size: 13px; margin-top: -10px;">9% CGST : <%= partsTaxF.toLocaleString() %></p>
                                                <p style=" font-size: 13px;  margin-top: -10px;">9% SGST : <%=  partsTaxF.toLocaleString() %></p>
                                                
                                                <% } if(partsTaxT !== 0) { %> 
                                                <p style=" font-size: 13px;  margin-top: -10px;">2.5% CGST : <%=  partsTaxT.toLocaleString() %></p>
                                                <p style=" font-size: 13px; margin-top: -10px;" >2.5% SGST : <%=  partsTaxT.toLocaleString() %></p>
                                                <% } if(partsTaxS !== 0){ %> 
                                                <p style=" font-size: 13px;  margin-top: -10px;">14% CGST : <%=  partsTaxS.toLocaleString() %> </p>
                                                <p style=" font-size: 13px;  margin-top: -10px;">14% SGST :  <%=  partsTaxS.toLocaleString() %>  </p>
                                            <% } %>

                                            <% if (p.payment.discount_total !== 0) { %>
                                                <p style=" font-size: 13px;  margin-top: -10px;">Discount : <%= p.payment.discount_total %></p>
                                            <% } %>
                                            <p style=" font-size: 13px; font-weight: bold; margin-top: -10px">Total : <%=  p.payment.total.toLocaleString() %>  </p>
                                            <p style=" font-size: 13px; font-weight: bold; margin-top: -10px">Due :  <%=  p.due.due.toLocaleString() %>  </p>


   </div>        
    </div>
    <br><br> <br>
<p style=" font-size: 13px; font-weight: bold;"> Note : <%= business.business_info.terms %> </p>

    </div>
    <br><br> 

    <footer>
        <div class="container"> 
            <div class="row">
    <div class="col-xs-4">
    
        <p style="text-align: left;">
            Customer Signature
        </p>
    </div>
        <div class="col-xs-5">
            
        </div>
    
        <div class="col-xs-3">
            <p style="text-align: center;"> 
                Authorised Signature
    
            </p>
        </div>
        
    
    </div>
    
    
                
            </div>
           
    
        
    
    
    </footer>
    
    
</body>
</html>