doctype html
html
    head
        title
    body
        table(border='0', cellpadding='0', cellspacing='0', style='padding-bottom:20px;max-width:516px;min-width:220px;margin:auto;')
            tbody
                tr(align='center')
                    td(style='width:8px', width='8')
                    td
                        div(align='center', style='border-style:solid;border-width:thin;border-color:#dadce0;border-radius:8px;padding:40px 20px')
                            img(height='75', src='https://www.careager.com/images/cestatic/CarEager-HQ.png', style='width:75px;height:75px;margin-bottom:16px', width='75')
                            div(style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;border-bottom:thin solid #dadce0;color:rgba(0,0,0,0.87);line-height:32px;padding-bottom:24px;text-align:center;word-break:break-word")
                                div(style='font-size:24px;font-weight: bolder;')
                                    | CAR APPROVAL
                                table(align='center', style='margin-top:8px')
                                    tbody
                                        tr(style='line-height:normal')
                                            td
                                                p(style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.87);font-size:14px;line-height:20px;font-weight: bolder;") #{b.car} - #{b.registration_no}

                                                p(style="margin-top:0px;margin-bottom:0px;font-weight:bolder;font-size: 20px;") #{b.name} - #{b.contact_no}

                                                p(style="margin-top:0px;margin-bottom:0px;font-weight:bolder") #{b.location}
                            
                            a(href="http://suite-staging.careager.com/prod/cx-admin", style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;line-height:16px;color:#ffffff;font-weight:400;text-decoration:none;font-size:14px;display:inline-block;padding:10px 24px;background-color:red;border-radius:5px;min-width:90px;margin-top:35px;") Verify Now
                        

                        div(style='text-align:left')


                            div(style='font-family:Roboto-Regular,Helvetica,Arial,sans-serif;color:rgba(0,0,0,0.54);font-size:11px;line-height:18px;padding-top:12px;text-align:center')
                                div(style='direction:ltr')
                                    | @2019 
                                    span Victorious Managers Technologies Private Limited
                                    a(style='font-family: Roboto-Regular,Helvetica,Arial,sans-serif;color: rgba(0,0,0,0.54);font-size: 11px;line-height: 18px;padding-top: 0px;text-align: center;display: inline-flex;')
                                        | 18/1, NH8, near Mercedes-Benz, Sector 35, Gurugram, Haryana 122004
                    td(style='width:8px', width='8')
